body,
html {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans";
    background-color: #F3F4F8;
    color: white;
}

.back {
    background: url(3126518.jpg) no-repeat;
    background-position-x: 50%;
    background-position-y: center;
    padding-bottom: 0px;
    height: 500px;
}

.back2 {
    background: rgb(249, 41, 113);
    background: linear-gradient(153deg, rgba(249, 41, 113, 0.5) 0%, rgba(50, 93, 224, 0.5) 100%);
    height: 500px;

}

.main {
    margin: 0px 50px 0px 50px;
}

html {
    font-size: 80%;
}


.topnav {
    background-color: rgba(255, 255, 255, 0.137);
    height: 70px;
    backdrop-filter: blur(5px);
}

.upper {
    margin: 0px 50px 0px 50px;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
}

ul.topnav li {
    float: right;
    margin-top: 0px;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 26px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: rgba(255, 255, 255, 0.137);
}

ul.topnav li a.active {
    padding: 14px 0px;
    pointer-events: none;
}

ul.topnav li.left {
    float: left;
    font-weight: 900;
    font-size: 30px;
    padding: 0px 0px;
    padding: px 16px;
    margin-top: 0px;
}

.page-header {}

.page-header p {
    font-size: 15px;
    text-align: center;
    margin: 0;
}

.page-header h2 {
    font-size: 40px;
    text-align: center;
    margin: 0;
}

.page-header .txt-header {
    margin-top: 80px;
}

.page-header .txt-header h2 {
    margin-bottom: 40px;
}

.btn-head {
    text-decoration: none;
    color: white;
}

.disable-select {
    user-select: none;
}

.btn2 {
    width: 200px;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: #53c4b1d3;
    padding: 10px 15px;
    border-radius: 30px;
    margin-left: calc(50% - 110px);
    transition: 0.5s;
}

.btn2:hover {
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.44);
    transform: scale(1.05);
}

.up {
    background-color: white;
    margin: 0px 50px 0px 50px;
    width: calc(100% - 100px);
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.44);
    transform: translateY(-60px);
}

.article-view {
    column-count: 3;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}

.article-view p {
    margin: 0px;
    height: auto;
    text-align: center;
}

.article-view p:nth-child(1) {

    margin-right: 20px;
    margin-bottom: 50px;
}

.article-view p:nth-child(2) {
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;

}

.article-view p:nth-child(3) {
    margin-left: 20px;
    margin-bottom: 50px;
}

.space {
    height: 30px;
}

@media only screen and (max-width: 40em) {
    .article-view {
        column-count: 1;
    }

    .space {
        height: 15px;
    }

    .article-view p:nth-child(1) {
        margin-right: 0px;
        margin-bottom: 30px;
    }

    .article-view p:nth-child(2) {
        margin: 0px 0px 50px;
        margin-bottom: 30px;
    }

    .article-view p:nth-child(3) {
        margin-left: 0px;
        margin-bottom: 30px;
    }

    /* ul.topnav li a {
        padding: 7px 8px;
    }*/

    .main {
        margin: 0px 25px 0px 25px;
    }

    .up {
        margin: 0px 25px 0px 25px;
        width: calc(100% - 50px);
    }

    .upper {
        margin: 0px 25px 0px 25px;
    }

}
